<div class="bg-neutral-800">
    <div
        class="flex justify-start border-l-8 border-red-500 m-5 text-zinc-300 p-2">
        <p class="text-3xl uppercase">Публикации</p>
    </div>
    <div class="flex justify-between">
        <div class="flex flex-col">
            <app-card class="flex justify-between" />
            <app-card class="flex justify-between" />
            <app-card class="flex justify-between" />
        </div>
        <div class="flex flex-col justify-center shadow-xl min-h-96">
            <p class="text-left text-zinc-300 text-xl p-3">Топ 5</p>
            <mat-card class="text-center max-w-7xl m-2">
                <div class="flex items-center bg-black ">
                    <div>
                        <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                            <p class="text-sm text-gray-500 text-left">Tesla</p>
                            <p
                                class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                                EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                                КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                                ШОФИРАНЕТО?</p>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card class="text-center max-w-7xl m-2">
                <div class="flex items-center bg-black ">
                    <div>
                        <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                            <p class="text-sm text-gray-500 text-left">Tesla</p>
                            <p
                                class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                                EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                                КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                                ШОФИРАНЕТО?</p>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card class="text-center max-w-7xl m-2">
                <div class="flex items-center bg-black ">
                    <div>
                        <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                            <p class="text-sm text-gray-500 text-left">Tesla</p>
                            <p
                                class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                                EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                                КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                                ШОФИРАНЕТО?</p>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card class="text-center max-w-7xl m-2">
                <div class="flex items-center bg-black ">
                    <div>
                        <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                            <p class="text-sm text-gray-500 text-left">Tesla</p>
                            <p
                                class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                                EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                                КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                                ШОФИРАНЕТО?</p>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card class="text-center max-w-7xl m-2">
                <div class="flex items-center bg-black ">
                    <div>
                        <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                            <p class="text-sm text-gray-500 text-left">Tesla</p>
                            <p
                                class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                                EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                                КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                                ШОФИРАНЕТО?</p>
                        </div>
                    </div>
                </div>
            </mat-card>

        </div>
    </div>
</div>
