
<div class="flex flex-col justify-center shadow-xl min-h-96">
    <p class="text-left text-zinc-300 text-xl p-3">Топ 5</p>
    <mat-card class="text-center max-w-7xl m-2">
        <div class="flex items-center bg-black ">
            <div>
                <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                    <p class="text-sm text-gray-500 text-left">Tesla</p>
                    <p
                        class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                        EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                        КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                        ШОФИРАНЕТО?</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="text-center max-w-7xl m-2">
        <div class="flex items-center bg-black ">
            <div>
                <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                    <p class="text-sm text-gray-500 text-left">Tesla</p>
                    <p
                        class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                        EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                        КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                        ШОФИРАНЕТО?</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="text-center max-w-7xl m-2">
        <div class="flex items-center bg-black ">
            <div>
                <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                    <p class="text-sm text-gray-500 text-left">Tesla</p>
                    <p
                        class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                        EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                        КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                        ШОФИРАНЕТО?</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="text-center max-w-7xl m-2">
        <div class="flex items-center bg-black ">
            <div>
                <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                    <p class="text-sm text-gray-500 text-left">Tesla</p>
                    <p
                        class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                        EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                        КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                        ШОФИРАНЕТО?</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="text-center max-w-7xl m-2">
        <div class="flex items-center bg-black ">
            <div>
                <div class="text-zinc-300 s w-96 p-3 cursor-pointer">
                    <p class="text-sm text-gray-500 text-left">Tesla</p>
                    <p
                        class="truncate text-l text-nowrap hover:text-red-500">VOLVO
                        EX30 - ЗАБАВЛЕНИЯ В СНЕГА И КАРАНЕ НА ПИСТА.
                        КАКВИ СА ПЪРВИТЕ МИ ВПЕЧАТЛЕНИЯ ОТ
                        ШОФИРАНЕТО?</p>
                </div>
            </div>
        </div>
    </mat-card>

</div>