<div>
    <div class="flex justify-start">
        <div
            class="border-b-[15px] border-r-[15px] rounded-br-[50px] border-white/10 p-1 w-fit m-5 flex flex-row relative">
            <mat-card class="text-center max-w-3xl m-6">
                <div
                    class="flex items-center  cursor-pointer">
                    <div>
                        <img class="w-full h-full"
                            src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
                            alt="picture">
                    </div>
                </div>
            </mat-card>
            <div
                class="text-white mb-12 p-8 pb-16 lg:absolute lg:-right-72 lg:top-16 lg:w-96 z-10 bg-red-700 rounded-br-[50px] cursor-pointer hover:bg-red-800 hover:text-zinc-50">
                <p class="text-start">23.04.2024</p>
                <p class="text-4xl p-3 text-center"> #new Tesla
                    model
                    3 performance</p>
            </div>
        </div>
    </div>
    <div
        class="flex justify-start border-l-8 border-red-700 m-5 text-zinc-300 p-2">
        <p class="text-3xl uppercase">Последни теми</p>
    </div>
    <div class="flex flex-row m-5">
        <mat-card class="text-center max-w-7xl m-6">
            <div
                class="flex flex-col items-center bg-black  cursor-pointer">
                <div class>
                    <img class="w-80 h-[200px]"
                        src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
                        alt="picture">
                </div>
                <div>
                    <div
                        class="text-zinc-300 max-w-80 p-2 hover:text-red-500 ">
                        <p class="text-2xl">Tesla model 3</p>
                        <p
                            class="truncate hover:whitespace-normal text-xl text-wrap">#EVN52
                            - ТОВА ЛИ
                            Е БЪДЕЩЕТО НА EV-ТАТА?</p>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="text-center max-w-7xl m-6">
            <div
                class="flex flex-col items-center bg-black  cursor-pointer">
                <div class>
                    <img class="w-80 h-[200px]"
                        src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
                        alt="picture">
                </div>
                <div>
                    <div class="text-zinc-300 max-w-80 p-2 hover:text-red-500 ">
                        <p class="text-2xl">Tesla model 3</p>
                        <p
                            class="truncate hover:whitespace-normal text-xl text-wrap">#EVN52
                            - ТОВА ЛИ
                            Е БЪДЕЩЕТО НА EV-ТАТА?</p>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="text-center max-w-7xl m-6">
            <div
                class="flex flex-col items-center bg-black  cursor-pointer">
                <div class>
                    <img class="w-80 h-[200px]"
                        src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
                        alt="picture">
                </div>
                <div>
                    <div class="text-zinc-300 max-w-80 p-2 hover:text-red-500 ">
                        <p class="text-2xl">Tesla model 3</p>
                        <p
                            class="truncate hover:whitespace-normal text-xl text-wrap">#EVN52
                            - ТОВА ЛИ
                            Е БЪДЕЩЕТО НА EV-ТАТА?</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="bg-black py-1">
        <div
            class="wrapper flex flex-row text-zinc-100 p-10 justify-between">
            <div>
                <div
                    class="flex justify-start border-l-8 border-red-700 text-zinc-300 px-2 my-3">
                    <p class="text-3xl uppercase">Сподели с нас</p>
                </div>
                <div class="w-72">
                    <p>Присъединете се към нашата общност на електромобилните
                        ентусиасти! Бъдете в течение на последните новини и
                        иновации в света на електрическите автомобили, като
                        споделяте вашите изживявания и знания с нас. С вашата
                        помощ можем да направим нашия блог още по-интересен и
                        полезен за нашите читатели.</p>
                </div>
            </div>
            <div class="relative flex flex-row">
                <div class="relative mx-5">
                    <img class=" h-96 w-72"
                        src="https://easycharging.app/assets/img/tesla-1.jpg"
                        alt="Tesla">
                    <div
                        class="absolute cursor-pointer inset-0 flex justify-center items-center opacity-0 hover:opacity-100 transition-opacity duration-300 bg-black/40 bg-opacity-50">
                        <p class="text-white text-center text-3xl p-5">Добави
                            Новина</p>
                    </div>
                </div>
                <div class="relative mx-5">
                    <img class=" h-96 w-72"
                        src="https://easycharging.app/assets/img/tesla-1.jpg"
                        alt="Tesla">
                    <div
                        class="absolute cursor-pointer inset-0 flex justify-center items-center opacity-0 hover:opacity-100 transition-opacity duration-300 bg-black/40 bg-opacity-50">
                        <p class="text-white text-center text-3xl p-5">Заяви
                            интервю за твоя автомобил</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>