<div class=" flex custom-toolbar justify-end p-1">
    <div>
        <ul class="flex">
            <li
                class="p-1 cursor-pointer text-zinc-300 text-sm hover:text-red-500">За
                нас</li>
            <li
                class="p-1 cursor-pointer text-zinc-300 text-sm hover:text-red-500">Партньори</li>
            <li
                class="p-1 cursor-pointer text-zinc-300 text-sm hover:text-red-500">Реклама</li>
            <li>
                <mat-icon
                    class="text-red-500 mx-4 p-1 cursor-pointer">shopping_cart</mat-icon>
            </li>
        </ul>
    </div>

</div>
<mat-toolbar class="justify-between custom-toolbar border-t-2 border-red-500">
    <div>
        <p
            class="text-4xl p-4 text-red-500 text-center cursor-pointer"
            routerLink="/">Car
            blog</p>

    </div>
    <div>
        <ul class="flex ">
            <li
                class="p-2 cursor-pointer text-zinc-300 text-lg hover:text-red-500"
                routerLink="/news">News</li>
            <li
                class="p-2 cursor-pointer text-zinc-300 text-lg hover:text-red-500"
                routerLink="/reviews">Ревюта</li>
            <li
                class="p-2 cursor-pointer text-zinc-300 text-lg hover:text-red-500"
                routerLink="/publications">Публикации</li>
            <li>

                <mat-icon
                    class="text-3xl mx-4 cursor-pointer align-middle">search</mat-icon>
            </li>
        </ul>
    </div>
</mat-toolbar>
