<div class="container bg-neutral-800">
    <div
        class="flex justify-start border-l-8 border-red-500 m-5 text-zinc-300 p-2">
        <p class="text-3xl uppercase">Ревюта</p>
    </div>
    <div class="flex justify-between">
        <div class="flex flex-col">
            <app-card class="flex justify-between" />
            <app-card class="flex justify-between" />
            <app-card class="flex justify-between" />
        </div>
        <div class="side-menu">
            <app-side-menu />
        </div>
    </div>
</div>
