<div class="flex flex-col ">
  <mat-card class="text-center max-w-7xl m-6">
    <div
      class="flex items-center bg-black rounded-br-3xl  cursor-pointer">
      <div class="mr-4">
        <img class="mb-1 w-72 h-[200px]"
          src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
          alt="picture">
      </div>
      <div>
        <div class="text-zinc-300 s w-80 p-2 hover:text-red-500 ">
          <p class="text-2xl">Tesla model 3</p>
          <p class="truncate hover:whitespace-normal text-xl text-wrap">#EVN52
            - ТОВА ЛИ
            Е БЪДЕЩЕТО НА EV-ТАТА?</p>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="text-center max-w-7xl m-6">
    <div
      class="flex items-center bg-black rounded-br-3xl  cursor-pointer">
      <div class="mr-4">
        <img class="mb-1 w-72 h-[200px]"
          src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
          alt="picture">
      </div>
      <div>
        <div class="text-zinc-300 s w-80 p-2 hover:text-red-500 ">
          <p class="text-2xl">Tesla model 3</p>
          <p class="truncate hover:whitespace-normal text-xl text-wrap">#EVN52
            - ТОВА ЛИ
            Е БЪДЕЩЕТО НА EV-ТАТА?</p>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="text-center max-w-7xl m-6">
    <div
      class="flex items-center bg-black rounded-br-3xl  cursor-pointer">
      <div class="mr-4">
        <img class="mb-1 w-72 h-[200px]"
          src="https://www.shop4tesla.com/cdn/shop/articles/erste-details-zur-neuen-topversion-des-tesla-model-3-highland-ludicrous-oder-plaid-version-denkbar-598178.jpg"
          alt="picture">
      </div>
      <div>
        <div class="text-zinc-300 s w-80 p-2 hover:text-red-500 ">
          <p class="text-2xl">Tesla model 3</p>
          <p class="truncate hover:whitespace-normal text-xl text-wrap">#EVN52
            - ТОВА ЛИ
            Е БЪДЕЩЕТО НА EV-ТАТА?</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
